# --- Security (NEVER UPLOAD THESE) ---
openai_key.txt
.env

# --- Python System Files (Junk) ---
__pycache__/
*.pyc
venv/
.pytest_cache/
.vscode/*.deb


dist/
build/
*.exe
__pycache__/
venv/
jobs.db
*.spec