# --- Security (NEVER UPLOAD THESE) ---

.env

# --- Python System Files ---
__pycache__/
*.pyc
venv/
.pytest_cache/
.vscode/

# --- Build and Distribution ---
dist/
build/
*.exe
*.spec

# --- Local Database ---
jobs.db